<div class="main_container">
    <div class="container">
      <div class="info_container">
        <span id ="title">Panel de administración</span>
      </div>
    <form action="" class = "form_container">
      <div class= "form_item">
        <mat-form-field id="password_input">
          <mat-label>Ingrese contraseña</mat-label>
          <input matInput type = "password"value="">
        </mat-form-field>
      </div>
      <div class= "form_item">
          <button id = "enter" routerLink="/app" mat-raised-button color="accent">Entrar</button>
      </div>
    </form>
</div>