.nav_item{
    margin-right : 20px;
    font-size: 0.8em;
    transition: 0.3s;
    opacity: 0.7;
}
.nav_title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    margin-left: -3%;
    background-color: rgba(0, 0, 0, 0.178);
    font-size: 1.4em;
}
.item_container{
    width: 50%;
    margin-left : 15px;
    display : flex;
}
.nav_item:hover{
    opacity: 1;
}
