.list_container{
    height: 100%;
    width: 99%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}
.container{
    height: 100%;
    width: 25%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.fix-to-top {
    position: fixed;
    top: 0;
  }