<mat-card class="container">
    <mat-action-list>
        <app-search></app-search>
    </mat-action-list>
    <div class="list_container">
        <div class ="loading" *ngIf="empty">
            <mat-spinner diameter ="75"></mat-spinner>
        </div>
        <div>
            <div>
                <mat-action-list *ngFor="let item of items, let i = index">
                    <button mat-list-item (click)="setVisorObject(i)"> <span>{{item.name_es}}</span> </button>             
                </mat-action-list>
            </div>
            <!-- <div *ngIf="builder">
                <mat-action-list *ngFor="let item of items, let i = index">
                    <button mat-list-item (click)="addItem()"> <span>{{item.name_es}} </span>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
                    </button>
                    
                </mat-action-list>
            </div> -->

        </div>
        
    </div>
    <div class = "add_section ">
        <div *ngIf="!builder" class = "full">
            <button  class = "full" (click) = "addItem()"mat-raised-button color="accent">Anadir</button>
        </div>
        <div *ngIf="builder" class = "full">
            <button class = "full" (click) = "addItem()"mat-raised-button color="warn">Cancelar</button>
        </div>
    </div>
   
</mat-card>

